<section class="section-menu-page flex flex-col space-y-4">
  <h2>Find me here</h2>
  <div class="flex flex-row space-x-4">
    <img src="assets/icons/mail.png" alt="mail-icon" class="icon-contact">
    <label for="">magdalukasiak96@gmail.com</label>
  </div>
  <div class="flex flex-row space-x-4">
    <img src="assets/icons/telephone.png" alt="phone-icon" class="icon-contact">
    <label for="">+48 794 168 494</label>
  </div>
  <a class="linkedin-btn" target="_blank" href="https://www.linkedin.com/in/magda-%C5%82ukasiak-109801172/">Linkedin</a>

  <div class="face-pic-container pt-4">
    <div class="face-pic-frame"></div>
    <div class="face-pic-bg">
      <img src="/assets/img/face.png/" alt="face-img">
    </div>
  </div>
</section>
