body {
  font-family: 'Playfair Display', serif;

}

body, ul{
  margin: 0;
  padding: 0;
}

.background {
  background-color: #FFFFFF;
}



h2, h1 .skill-list {
font-family: 'Playfair Display', serif;
}

img {
max-width: 100%;
}


nav {
background-color: #EC5239;
position: fixed;
z-index: 1;
width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}



li.empty {
  width: 90px;
  border-top: 1px solid #F3F3F3;
  top: -5px;
  position: relative;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

nav li a {
  text-decoration: none;
  color: #F3F3F3;
}


nav li a:hover {
  text-decoration: underline;
}

.header {
  background-color: #EC5239;
  padding: 50px;
}

header {
    top: 75px;
    position: relative;
    margin-bottom: 90px;
    background-image: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -350px;
    color: #FFFFFF;

}

.portale{
  margin-top: 30px;
}

h1 {
  font-size: 50px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: left;
}

h2 {
  font-size: 70px;
  line-height: 130%;
  color: #2D2D2D;
  margin-top: 10px;
}

h1 h2{
  font-weight: normal;
}

.itallic {
  font-style: italic;
}

p {
  line-height: 200%;
  font-family: 'Lato', sans-serif;
}

ul li {
  list-style: none;
  margin: 30px 0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
}

.button {
  font-family: 'Lato', sans-serif;
  border: 1px solid #2D2D2D;
  text-decoration: none;
  color: #EC5239;
  padding: 10px 30px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 20px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background: #EC5239;
  color: #F3F3F3;
}

figcaption {
  font-size: 30px;
  margin-top: 10px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.intro-img{
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  size: 50%;

}



.project {
  margin: 0px 0;
  padding: 50px;
  padding-bottom: 80px
}

.orange{
  background-color: #F3F3F3;
}

.project .button {
  margin-top:10px;
}

footer {
  text-align: center;
  margin: 100px;
}

.portale{
  margin: 90px;
}

footer h2 {
  text-align: center;
  font-size: 50px;
  line-height: 150%;
  margin-bottom: 100px;
}

.right-aligment {
  text-align: right;
}

.add-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 160%;
  font-family: 'Lato', sans-serif;

}

.small {
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 130%;
  color: #2D2D2D;
  font-family: 'Playfair Display', serif;
}

.project4 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 50px;
  padding-bottom: 80px;
}
}

h4 {
  font-size: 40px;
  line-height: 130%;
  color: #2D2D2D;
  font-family: 'Playfair Display', serif;
}

h5 {
  font-size: 30px;
  line-height: 150%;
  color: #D3CFCD;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h6 {
  font-size: 30px;
  line-height: 150%;
  color: #D3CFCD;
  font-family: 'Playfair Display', serif;
  text-align: center;
}


.paragraph1 {
  line-height: 200%;
  text-align: left;
}



.about-me {
  background-color: #2D2D2D;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #D3CFCD;
}

.about-me-list {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 130px;
  line-height: 160%;
}

h7 {
  font-size: 30px;
  line-height: 130%;
  color: #2D2D2D;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}
