<section class="section-menu-page">
  <h2>About me</h2>
  <p class="my-5">I am fresh graduated management student with a specialization in customer behavior, looking for a job in UX design
    or product management. I currently based in Poland, but am willing to relocate.</p>
  <p>My area of interest: </p>

  <ul class="list-decimal my-4">
    <li>user research</li>
    <li>UX strategy building</li>
    <li>User flows</li>
    <li>customer journey</li>
    <li>Lo-fi/Hi-fi prototypes</li>
  </ul>

  <div class="flex flex-col lg:flex-row justify-between mt-10">
    <div class="face-pic-container">
      <div class="face-pic-frame"></div>
      <div class="face-pic-bg">
        <img src="assets/img/face.png/" alt="face-img">
      </div>
    </div>
    <a class="linkedin-btn" target="_blank" href="https://www.linkedin.com/in/magda-%C5%82ukasiak-109801172/">Linkedin</a>
  </div>
</section>
