@import '../../../themes.scss';

ul {
  columns: 1;
  list-style: inside;
}

.face-pic-container {
  min-width: 238px;
  min-height: 238px;
  z-index: 1;
  margin-right: 1rem;

  .face-pic-frame {
    border: 5px solid #7C9A58;
    position: absolute;
    z-index: 3;
    min-width: 238px;
    min-height: 238px;
  }
  .face-pic-bg {
    min-width: 238px;
    min-height: 238px;
    position: absolute;
    z-index: 2;
    background-color: #6c824f;
    transform: translate(4%, -4%);
  }
}

@media (min-width: $bp-md) {
  ul {
    columns: 2;
  }
}
