<section class="section-menu-page pb-4">
  <h2>About me</h2>
  <p class="my-5">I am fresh graduated management student with a specialization in customer behavior, looking for a job in UX design
    or product management. I am currently based in Poland, but willing to relocate.</p>
  <p>My area of interest: </p>

  <div class="grid">
    <div class="about-sub-container">
      <ul class="col-about">
        <li>user research</li>
        <li>UX strategy building</li>
        <li>User flows</li>
      </ul>
      <ul class="col-about">
        <li>customer journey</li>
        <li>Lo-fi/Hi-fi prototypes</li>
      </ul>
    </div>

    <div class="about-sub-container py-10">
      <div class="face-pic-container pt-4 col-about">
        <div class="face-pic-frame"></div>
        <div class="face-pic-bg">
          <img src="assets/img/face.png" alt="face-img">
        </div>
      </div>
      <div class="col-about mt-2">
        <a class="linkedin-btn" target="_blank" href="https://www.linkedin.com/in/magda-%C5%82ukasiak-109801172/">Linkedin</a>
      </div>
    </div>
  </div>
</section>
