@import '../../../themes';

.card-container {
  &:hover {
    border: 1px solid #117311;
  }
  .project-miniature {
      width: 240px;
      min-width: 220px;
      height: auto;
    img {
      width: 100%;
    }
  }

  .project-info {
    padding-left: 2rem;
    width: 100%;
    height: auto;
  }

  padding: 2rem 1.5rem;
}

@media (max-width: $bp-sm) {
  .card-container {
    .project-miniature {
        width: 250px;
        min-width: 250px;
        height: auto;
    }
  }
}
