<a *ngIf="options" [href]="options.pdfPath" target="_blank">
  <div class="card-container flex flex-col sm:flex-row items-center">
    <div  class="project-miniature lg:ml-16">
      <img class="mb-4"
           [src]="options.imgPath"
           alt="image-path">
    </div>
    <div class="project-info flex flex-col space-y-3">
        <a [href]="options.pdfPath" target="_blank"><h2>{{options.header}}</h2></a>
        <h3>{{options.description}}</h3>
        <div class="flex flex-row justify-content-start flex-wrap">
          <chip *ngFor="let tag of options.tags" [title]="tag" class="m-1"></chip>
        </div>
    </div>
  </div>
</a>
<hr>
