@import '../../../themes';

.card-container {
  .project-miniature {
    min-width: 160px;
    width: 160px;
    height: 130px;
  }
  padding: 2rem 1.5rem;
  div {
    padding-left: 2rem;
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: $bp-sm) {
  .card-container {
    .project-miniature {
      width: 250px;
      height: 180px;
    }
  }
}
