/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@200;300&display=swap');
@import './themes.scss';

html, body, *{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.2rem;
}

.linkedin-btn {
  height: 2.3rem;
  min-width: 10rem;
  width: 12rem;
  //max-width: 15rem;

  @apply px-4 py-2 flex items-center whitespace-nowrap justify-center;
  border: 3px solid #7B964A;
  border-radius: 99999px;
}

.section-menu-page {
  @apply overflow-auto h-screen px-20 py-10;
}

.face-pic-container {
  min-width: 238px;
  min-height: 238px;
  z-index: 1;
  margin-right: 1rem;
  position: relative;
  overflow: visible;

  .face-pic-frame {
    border: 5px solid #7C9A58;
    position: absolute;
    z-index: 3;
    min-width: 238px;
    min-height: 238px;
  }
  .face-pic-bg {
    min-width: 238px;
    min-height: 238px;
    position: absolute;
    z-index: 2;
    background-color: #6c824f;
    transform: translate(4%, -4%);
  }
}

@media (max-width: $bp-sm) {
  h2 {
    font-size: 3rem;
  }
  .section-menu-page {
    @apply overflow-auto h-screen px-10 py-4;
  }
}
